.DS_Store

# package directories
node_modules

# generated
card-viz/Temp/
build
dist
*.log
.module-cache
*.log*

# private
card-viz/Assets/Resources/VuforiaConfiguration.asset
credentials/
images/

# personal notes
local
notes/
.vscode
