html {
  font-family: Vaud,Helvetica,Arial,sans-serif;
  background: #455A64;
}

.heading {
  font-weight: 100;
  text-align: center;
  color: #CFD8DC;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin: 20px auto 0;
  padding: 20px;
  text-align: center;
  background: #BDBDBD;
  border: 1px solid #607D8B;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
}

#link-btn {
  padding: 12px;
  border: 0px;
  font-size: 14px;
  color: #fff;
  background: #009688;
}